.landing-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.landing-wrapper * {
    box-sizing: border-box;
}

.landing-dgbback {
    position: absolute;
    max-width: 600px;
    bottom: -60px;
    left: -60px;
}

.landing-header {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-register {
    font-size: 14pt;
    color: #005e6a;
    font-weight: bold;
}

.btn-register a {
    background-color: #005e6a;
    padding: 8px 20px;
    color: white !important;
    border-radius: 100px;
    font-size: 12pt;
    text-decoration: none;
    margin-left: 10px;
}

.btn-register a:hover {
    color: white;
}

.landing-header-logo {
    height: 50px;
}

.landing-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.landing-content-column {
    width: 50%;
    height: 100%;
    z-index: 10;
}

.landing-content-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-title {
    display: flex;
    align-items: center;
}

.landing-title-digital {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
}

.landing-title-digital img {
    height: 90px;
}

.landing-title-text span {
    font-size: 30pt;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.landing-title-text span:nth-child(1) {
    color: #005e6a;
}

.landing-title-text span:nth-child(2) {
    color: #d6d6d6;
}

.landing-tabs-wrapper {
    width: 100%;
    margin-top: 30px;
    padding-left: 20%;
    box-sizing: border-box;
}

.landing-tabs {
    display: flex;
    margin-bottom: 20px;
}

.landing-tabs-tab {
    font-size: 14pt;
    font-weight: 500;
    color: #c9c9c9;
    padding-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.landing-tabs-tab.active {
    color: #005e6a;
    border-bottom: 2px solid #005e6a;
}

.landing-tab-content {
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 250px;
    border-radius: 5px;
    padding: 20px 0;
}

.landing-list-item {
    display: flex;
    flex-direction: column;
}

.landing-list-item > div {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #005e6a;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14pt;
}

.landing-list-item > div img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.landing-list-item > div:hover {
    background-color: #f5f5f5;
}

.landing-list-item > div:last-child {
    border-bottom: 0;
}

.landing-form-start {
    display: flex;
    flex-direction: column;
}

.landing-form-start-input {
    display: flex;
}

.landing-form-control {
    flex: 1;
    padding: 15px 20px;
    font-size: 12pt;
    margin-right: 10px;
    border: 0;
    color: #005e6a;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    outline: none;
}

.landing-form-label-checkbox {
    display: flex;
    font-size: 12pt;
    font-weight: bold;
    color: #005e6a;
    align-items: center;
    padding: 10px 0;
}

.landing-form-label-checkbox input {
    margin-right: 10px;
}

.landing-form-control:focus {
    box-shadow: 0 0 5px #005e6a;
}

.landing-btn {
    display: flex;
    background-color: #005e6a;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 0 25px;
    line-height: 0;
    font-weight: bold;
    font-size: 14pt;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

a.landing-btn {
    color: #fff !important;
    text-decoration: none;
}

.landing-btn-cancel {
    background-color: grey;
}


.landing-btn.ml-1 {
    margin-left: 10px;
}

.landing-btn.disabled {
    background-color: #D6D6D6;
    color: #fff;
    cursor: not-allowed;
}

.landing-form-start-alert {
    margin-top: 10px;
    width: 100%;
    color: red;
    font-size: 10pt;
    line-height: 1.5;
}

.landing-conference-digital {
    width: 80%;
    margin-bottom: 40px;
}

.landing-apps {
    width: 60%;
    display: flex;
    justify-content: center;
}

.landing-apps a {
    width: 45%;
    object-fit: contain;
    margin: 0 10px;
}

.landing-apps a img {
    width: 100%;
}

.landing-footer {
    position: absolute;
    bottom: 30px;
    text-align: right;
}

.landing-footer p {
    margin: 0;
    color: #cccccc;
    font-size: 10pt;
}

.meetings-list .item {
    border-left: 5px solid transparent;
    background: none;
    color: #005e6a;
}

.meetings-list .item.with-click-handler:hover {
    border-left: 5px solid #005e6a;
    background-color: transparent;
}

@media screen and (max-width: 1280px) {
    landing-title-digital img {
        height: 60px;
    }

    .landing-title-text span {
        font-size: 20pt;
    }

    .landing-form-start-input {
        flex-direction: column;
    }

    .landing-form-control {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 10pt;
    }

    .landing-btn {
        display: block;
        padding: 18px 0;
        font-size: 10pt;
        border-radius: 3px;
        box-sizing: border-box;
        margin-bottom: 10px;
        text-align: center;
    }

    .landing-btn.ml-1 {
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .landing-title-digital img {
        height: 60px;
    }

    .landing-title-text span {
        font-size: 20pt;
    }

    .btn-floating {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .landing-wrapper {
        overflow: auto;
        position: initial;
    }

    .landing-dgbback {
        display: none;
    }

    .landing-header {
        width: 100%;
        text-align: center;
        margin: 40px 0;
        flex-direction: column;
    }

    .btn-register {
        margin-top: 20px;
    }

    .landing-header-logo {
        height: 40px;
    }

    .landing-content {
        flex-direction: column;
        height: auto;
    }

    .landing-content-column {
        width: 100%;
        height: auto;
        padding: 0;
        background-color: white;
    }

    .landing-content-column:nth-child(2) {
        z-index: 1;
    }

    .landing-conference-digital,
    .landing-apps {
        display: none;
    }

    .landing-footer {
        text-align: center;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .landing-footer p {
        font-size: 8pt;
    }

    .landing-title-digital {
        width: auto;
        padding-left: 30px;
        padding-right: 10px;
    }

    .landing-title-digital img {
        height: 50px;
    }

    .landing-title-text span {
        font-size: 16pt;
    }

    .landing-tabs-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .landing-tabs-tab {
        font-size: 14pt;
        white-space: nowrap;
    }

    .landing-tab-content  {
        height: auto;
        box-shadow: none;
    }

    .landing-form-start-alert {
        font-size: 8pt;
    }

    .btn-floating {
        position: absolute;
        bottom: 25px;
        right: 25px;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #005e6a;
        color: #fff;
        border-radius: 50%;
        font-size: 30pt;
        cursor: pointer;
    }
}